@import "board.css";
:root {
    --playerone: yellow;
    --playertwo: red;
    --background: rgb(12, 0, 82);
}

html{
    background-color: skyblue;
}

body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    color: var(---background);
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.80);

    transform: translate(-30vw, 60px) rotate(-10deg);
}

#actual_button{
    height: 100px;
    width: 200px;
    border-radius: 25px;
    border: 5px solid black;
    background-color: white;
}

h2#turn-indicator {
    background-color: black;
    color: white;
    padding: 15px;
    text-transform: uppercase;
}

h2#player1{
    background-color: black;
    color: yellow;
    padding: 15px;
    text-transform: uppercase;
}


h2#player2{
    background-color: black;
    color: red;
    padding: 15px;
    text-transform: uppercase;
}


h2#turn-indicator #turn-color.player1{
    color: var(--playerone);
}

h2#turn-indicator #turn-color.player2{
    color: var(--playertwo);
}


